
h1{
    text-align: center;
    margin-top:100px;
    color: black;
    font-family: 'Lobster', cursive;
}

#retour{
    margin-left: 100px;
}

.rectancle{ 
    border: solid 2px white;
    height: 300px;
    width: 1000px;
    padding: 10%;
    left: 220px;
    top: 150px;
}

.rectancle1 , .rectancle2 , .rectancle3 , .rectancle4 , .rectancle5 , .rectancle6{
    border: solid 1px white;
    height: 150px;
    width: 250px;
    bottom: 138px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    
}

body{
    background-image:url(https://img.e-marketing.fr/Img/BREVE/2015/12/262273/Tribune-Marketing-ecologie-peut-encore-bouger-lignes--F.jpg);
    
    }
    

.rectancle1{
    background-color:rgb(253, 253, 69);
    text-align: center;
    font-size: 10 ;
}

.rectancle2{
    background-color: rgb(86, 223, 52);
    text-align: center;
}

.rectancle3{
    background-color:rgb(44, 187, 192);
    text-align: center;
}

.rectancle4{
    background-color:rgb(85, 231, 134) ;
    text-align: center;
}

.rectancle5{
    background-color:rgb(236, 197, 25);
    text-align: center;
}

.rectancle6{
    background-color:rgb(95, 230, 68);
    text-align: center;
}

#quiz{
    background-color:rgb(3, 204, 3);
    height: 400px;
    width: 1000px;
    bottom: 138px;
    padding: 10%;
    left: 220px;
    top: 150px;
    text-align: center;
}

.option{
    width: 280px;
    display: inline-block;
    padding: 10px 0 10px 0;
    background: rgba(203, 206, 206, 0.808);
    margin: 10px 0 10px 10px;
    color: black;
  
    border-radius: 5px;
}

.option:hover{
    background: rgb(77, 76, 76);
    color: #f6f6f6;
}
